@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Kufam:wght@500&family=Orbitron:wght@500&display=swap');

/* GENERAL */

* {
  margin: 0;
  padding: 0;
}

header, footer {
  display: flex;
  align-items: center;
  background-color: black;
  height: 60px;
  width: 100%;
  animation: move1 6s infinite;
}

@keyframes move1 {
  50% {box-shadow: 0px 0px 10px #29f3c3;}
}

h1 {
  font-size: 1.2em;
  font-family: 'Orbitron', sans-serif;
  animation: defilement-rtl 4s linear;
}

 @keyframes defilement-rtl { 
  0% {
    transform: translate3d(250%,0,0);    
  }
  100% {
    transform: translate3d(0%,0,0);  
  }
} 

h2 {
  position: relative;
  box-shadow: 2px 2px 2px #29f3c3;
  font-size: 0.79em;
  font-family: 'Orbitron', sans-serif;
  border-radius: 0px 0px 50px 0px;
  animation: defilement-rtl2 5s linear;
  width: 102%;
}

@keyframes defilement-rtl2 {
  0% {
    transform: translate3d(300%,0,0);     
  }
  100% {
    transform: translate3d(0,0,0);  
}
}

h3 {
  font-family: 'Orbitron', sans-serif;
  font-size: 0.6em;
  text-shadow: 10px #29f3c3;
  color: #29f3c3;
}

p {
  font-size: 0.7em;
  font-family: 'Kufam', sans-serif ;
  animation: defilement-rtl3 4.5s linear;
  line-height: 1.5em;
}

@keyframes defilement-rtl3 {
  0% {
    transform: translate3d(250%,0,0);      
  }
  100% {
    transform: translate3d(0%,0,0); 
  }
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  font-family: 'Kufam', sans-serif ;
  list-style: none;
  font-size: 0.7em;
}


.Cv {
  background-image: url('./image/back.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  background-color: black;
  overflow: hidden;
}

.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* HEADER */

.title {
  display: flex;
  flex-direction: column-reverse;
  height: 5vh;
  width: 100%;
  font-size: 1.2em;
  font-family: 'Orbitron', sans-serif;
  box-shadow: 5px 5px 5px #29f3c3;
  animation: defilement-rtl 3s linear;
}

.opacity {
  width: 100%;
  background-color: #29f3c3;
  height: 30px;
  opacity: 0.3;
  box-shadow: 5px 5px 15px #29f3c3;
}

/* COLUMN 1 */

.column_1 {
  margin: 15px;
  height: fit-content;
  width: 40%;
}

.moi {
  position: relative;
  z-index: 1000;
  height: 18vh;
  width: 25vw;
  border: 2px solid #29f3c3;
  box-shadow: 0px 0px 10px 2px #29f3c3;
  animation: defilement-rtl9 2s linear;
  transition: 0.5s ease;
}

.moi:hover {
  transform: scale(1.09); 
}

@keyframes defilement-rtl9 {
  0% {
    transform: translateY(-200%);    
  }
  100% {
    transform: translateY(0%); 
  }
}

.job {
  font-size: 0.8em;
  margin-left: 5px;
  line-height: 3;
  text-shadow: 55px 55px 55px 55px #29f3c3;
}

.animation_h2 {
  animation: defilement-rtl4 4s linear;
}

@keyframes defilement-rtl4 {
  0% {
    transform: translate3d(-200%,0,0);    
  }
  100% {
    transform: translate3d(0%,0,0); 
  }
}

.h_line2 { 
  width: 80%; 
  height: 1px; 
  background-color: #29f3c3; 
  box-shadow: 0px 0px 15px 3px #29f3c3;
  animation: defilement-rtl7 6s linear;
}

.h_line2_experience {
  width: 120%; 
  height: 1px; 
  background-color: #29f3c3; 
  box-shadow: 0px 0px 15px 3px #29f3c3;
  animation: defilement-rtl11 6s linear;
}

@keyframes defilement-rtl11 {
  0% {
    transform: translate3d(250%,0,0);      
  }
  100% {
    transform: translate3d(0%,0,0);  
  }
}

@keyframes defilement-rtl7 {
  0% {
    transform: translate3d(-300%,0,0);      
  }
  100% {
    transform: translate3d(0%,0,0);  
  }
}

.tools {
  padding: 10px;
}

.hobbies {
  padding: 10px;
  text-decoration: none;
}

.contact {
  margin-left: -20px;
  padding: 10px;
} 

.spec, .spec_contact  {
  animation: defilement-rtl6 4.5s linear;
}

@keyframes defilement-rtl6 {
  0% {
    transform: translate3d(-200%,0,0);    
  }
  100% {
    transform: translate3d(0%,0,0);  
  }
}

.spec {
  transition: 0.5s ease;
}

.spec_contact {
  display: flex;
  align-items: center;
  width: 150%;
  padding-top: 20px;
  transition: 0.5s ease;
}

.spec_contact:hover {
  transform: scale(1.09); 
}

.spec:hover {
  transform: scale(1.09); 
}

.icons_dev {
  width: 4vw;
  height: 4vh;
}

.icons_hobbies {
  width: 4vw;
  height:3vh;
}

.icons_contact {
  width: 4vw;
  height:3vh;
  padding: 10px;
}



/* COLUMN 2 */

.column_2 {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  width: 50%;
}

.exp1 {
  margin-top: 20px ;
}

.exp_1 {
  margin-top: 15px;
  line-height: 1.2em;
}

.exp2 {
  margin-top: 20px;
}

.exp_2 {
  margin-top: 15px;
  line-height: 1.2em;
}

.exp3 {
  margin-top: 20px ;
}

.exp_3 {
  margin-top: 15px;
  line-height: 1.2em;
}

.exp4 {
  margin-top: 20px;
}

.exp_4 {
  margin-top: 15px;
  line-height: 1.2em;
}

.exp5 {
  margin-top: 20px;
}

.exp_5 {
  margin-top: 15px;
  line-height: 1.2em;
}

/* COLUMN 3 */

.column_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px ;
}

.spec {
  display: flex;
  align-items: center;
  text-indent: 10px;
  padding: 12px;
}

.skills_column_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.skills_column_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

svg {
height: 50px;
width: 50px;
filter: drop-shadow(0px 0px 2px #29f3c3)
}

svg, circle {
  fill: none;
  stroke: #29f3c3;
  stroke-width: 20px;
  stroke-dasharray: 520;
  stroke-dashoffset: 520;
  border-radius: 50px;
}

.oui {
  width: 80%;
  height: 80%;
}

.circle {
  animation: circle_0 12s forwards;
}

.circle_1 {
  animation: circle_1 12s forwards;
}

.circle_2 {
  animation: circle_2 12s forwards;
}

.circle_3 {
  animation: circle_3 12s forwards;
}

.circle_4 {
  animation: circle_4 12s forwards;
}

.circle_5 {
  animation: circle_5 12s forwards;
}

.circle_6 {
  animation: circle_6 12s forwards;
}

.circle_7 {
  animation: circle_7 12s forwards;
}

@keyframes circle_0 {
  to {
    stroke-dashoffset: 390;
  }
}

@keyframes circle_1 {
  to {
    stroke-dashoffset: 380;
  }
}

@keyframes circle_2 {
  to {
    stroke-dashoffset: 395;
  }
}

@keyframes circle_3 {
  to {
    stroke-dashoffset: 385;
  }
}

@keyframes circle_4 {
  to {
    stroke-dashoffset: 260;
  }
}

@keyframes circle_5 {
  to {
    stroke-dashoffset: 380;
  }
}

@keyframes circle_6 {
  to {
    stroke-dashoffset: 390;
  }
}

@keyframes circle_7 {
  to {
    stroke-dashoffset: 380;
  }
}

/* @media screen and (max-width: 375px) {
  header, footer {
    height: 50px;
    box-shadow: 5px 5px 15px #29f3c3;

  }
  
  .title {
   height: 25px;
   width: 100%;
   box-shadow: 5px 5px 5px #29f3c3;
 }
 
 .opacity {
   width: 100%;
   height: 25px;
 }
 
 .job {
   width: 65%;
 }
 
 h1 {
   font-size: 1.2em;
 }
 
 h2 {
   box-shadow: 5px 5px 5px #29f3c3;
   width: 36%;
   font-size: 0.6em;
 }
 
 h3 {
   width: 35%;
   font-size: 0.6em;
 }
 
 p {
   font-size: 0.7em;
   width: 30%;
 }

 br {
   display: none;
 }
 
 .h_line2 { 
   width: 45%; 
   height: 1px; 
   box-shadow: 5px 5px 5px #29f3c3;
   }
 
 .column_1 {
   margin-left: 40px;
   width: 35%;
   line-height: 1em; 
 }

 .name {
   margin-left: -35px ;
 }
 
 .cadre {
   margin-top: 25px;
   margin-left: -35px;
 }
 
 .moi {
   height: 15vh;
   border: 3px solid #29f3c3;
 }
 
 ul li {
   text-indent: 10px;
   font-size: 0.6em;
 }
 
 .icons {
   width: 4vw;
   height:6vh;
 }

 .icons_hobbies {
  width: 5vw;
  height:3vh;
}
 
 .skills {
   margin-left: -80px;
   margin-top: 120px;
 }
 
 .skills_2 {
   font-size: 0.7em;
 }
 
 svg {
 height: 90px;
 width: 90px;
 }
 
 svg, circle {
   stroke-width: 20px;
   stroke-dasharray: 520;
   stroke-dashoffset: 520;
   animation: circle 12s forwards;
   border-radius: 50px;
 }
  
.experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}  

.exp1 {
  margin-top: 10px;
  margin-left: -80px;
}

.exp_1 {
 margin-left: 65px;
}

.exp2 {
  margin-top: -80px;
  margin-left: -60px;
}

.exp3 {
  margin-top: -80px;
  margin-left: -60px;
}

.exp4 {
 margin-top: -70px;
 margin-left: -60px;
}

.exp5 {
 margin-top: -60px;
 margin-left: -60px;
}

} 

 */
