@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&family=Kufam:wght@500&family=Orbitron:wght@500&display=swap");

* {
  margin: 0;
  padding: 0; 
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  font-family: "Kufam", sans-serif;
  list-style: none;
  font-size: 0.6em;
  padding: 3px;
}

h1 {
  font-size: 1.2em;
  font-family: "Orbitron", sans-serif;
  animation: defilement-rtl 4s linear;
}

@keyframes defilement-rtl {
  0% {
    transform: translate3d(250%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

h2 {
  position: relative;
  box-shadow: 2px 2px 2px #29f3c3;
  font-size: 0.79em;
  font-family: "Orbitron", sans-serif;
  border-radius: 0px 0px 50px 0px;
  animation: defilement-rtl2 5s linear;
  width: 102%;
}

@keyframes defilement-rtl2 {
  0% {
    transform: translate3d(300%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

h3 {
  font-family: "Orbitron", sans-serif;
  font-size: 0.6em;
  color: #29f3c3;
}

p {
  font-size: 0.7em;
  font-family: "Kufam", sans-serif;
  animation: defilement-rtl3 4.5s linear;
  line-height: 1.5em;
}

@keyframes defilement-rtl3 {
  0% {
    transform: translate3d(350%, 0, 0);
  }
  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.opacity {
  width: 100%;
  background-color: #29f3c3;
  height: 30px;
  opacity: 0.3;
  box-shadow: 0px 0px 25px #29f3c3;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.4em;
  }

  h2 {
    font-size: 1em;
    width: 80%;
    box-shadow: 5px 3px 6px #29f3c3;
  }

  h3 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.8em;
  }

  .opacity {
    height: 40px;
  }
}

@media screen and (min-width: 1380px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
    width: 100%;
    box-shadow: 5px 3px 6px #29f3c3;
  }

  h3 {
    font-size: 1.2em;
  }

  p {
    font-size: 1em;
  }

  ul li {
    font-size: 0.8em;
  }

  .opacity {
    height: 50px;
  }
}
